<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Barra de Progreso</h4>
                <!-- ------------ Progress Bar-------------------- -->
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentaje1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1+ '%' " style="width: 50%"></div>
                </div>
                <!-- -----------End Progress Bar----------------------->
                <br>
                <!-- ------------ Progress Bar-------------------- -->
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="porcentaje2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2+ '%' " style="width: 50%"></div>
                </div>
                <!-- -----------End Progress Bar----------------------->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <!-- ---------- Este se cambio a el componente de incrementador-------- -->

                <!-- <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
                      <i class="mdi mdi-minus"></i>
                    </button>
                  </span>
                    <input type="text" class="form-control" [(ngModel)]="porcentaje">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="cambiarValor(5)">
                        <i class="mdi mdi-plus"></i>
                    </button>
                  </span>
                </div> -->


                <app-incrementador (cambioPorcentaje)="porcentaje1=$event" nombre="Progress Azul" [porcentaje]="porcentaje1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador (cambioPorcentaje)="porcentaje2=$event" name="progreso" nombre="Progress Verde" [porcentaje]="porcentaje2"></app-incrementador>

            </div>
        </div>
    </div>
</div>